<mat-card class="m-5">
    <h1>Inscription</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" novalidate>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex: Durand" value="" required formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>FirstName</mat-label>
            <input matInput placeholder="Ex: Jacques" value="" required formControlName="firstname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Birthday</mat-label>
            <input type="date" matInput placeholder="01/01/1901" value="" required formControlName="birthday">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="john@doe.com" value="" required formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="" value="" required formControlName="password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Register</button>

    </form>


</mat-card>